{% extends 'base.html' %}
{% load bootstrap3 %}

{% block navbar-class-index %} 
active
{% endblock %}

{% block content %}
<!-- LEFT -->
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Skelbimų paieška
            </h3>
        </div>
        <div class="panel-body">
            <form action="" method="GET" role="form">
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Ieškoti</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
<!-- RIGHT -->
<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ search_done|yesno:"Rasti skelbimai,Naujausi skelbimai,Naujausi skelbimai" }}
                {% if search_done and rides|length > 0 %}
                &nbsp;
                <span class="badge">
                    {{ rides|length }}
                </span>
                {% endif %}
            </h3>
        </div>
        <div class="panel-body">
            <ul class="list-group" id="ride-list">
                {% for ride in rides %}
                <li class="list-group-item">
                    {{ ride.content }}
                    {% if ride.is_looking_for %}
                        <span class="label label-warning" style="float: right;">
                            Ieškau
                        </span>
                    {% else %}
                        <span class="label label-success" style="float: right;">
                            Siūlau
                        </span>
                    {% endif %}
                    <span class="ride-details">
                        <br>
                        {% if ride.phone %}
                            <span class="glyphicon glyphicon-phone-alt">&nbsp;</span>
                            {{ ride.phone }}
                            <br>
                        {% endif %}
                        <span class="glyphicon glyphicon glyphicon-share-alt">&nbsp;</span>
                        <a href="{{ ride.ad_url }}">
                            {{ ride.ad_url }}
                        </a>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="pagination"></div>
</div>
{% endblock %}