<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Carpool News</title>

        <!-- Bootstrap CSS -->
        <!-- Flatly theme from bootswatch -->
        {% load static %}
        <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css" rel="stylesheet">

        <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"> -->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <a class="navbar-brand" href="{% url 'index' %}">Carpool News</a>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'index' %}">Skelbimai</a>
                </li>
            </ul>
        </nav>

        <div class="container">
            <!-- LEFT -->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Skelbimų paieška
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form action="" method="GET" role="form">
                            <datalist id="city-options">
                                {% for city in city_options %}
                                    <option>{{ city }}</option>
                                {% endfor %}
                            </datalist>
                            <!-- Origin -->
                            <div class="form-group">
                                <label for="input-origin" class="control-label" id="label-from">Važiuoja iš:</label>
                                <input type="text" name="from" id="input-origin" class="form-control input-sm" value="{{ selected_origin }}" required="required" list="city-options" autocomplete="on">
                            </div>
                            <!-- Destination -->
                            <div class="form-group">
                                <label for="input-origin" class="control-label" id="label-to">Važiuoja į:</label>
                                <input type="text" name="to" id="input-destination" class="form-control input-sm" value="{{ selected_destination }}" required="required" list="city-options" autocomplete="on">
                            </div>
                            <div class="form-group">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="looking-for" id="is-looking-for-true" value="True" {{ selected_looking_for|yesno:'checked="checked",,checked="checked"' }}>
                                        Ieškau
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="looking-for" id="is-looking-for-false" value="False" {{ selected_looking_for|yesno:',checked="checked",' }}>
                                        Siūlau
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Ieškoti</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- RIGHT -->
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ search_done|yesno:"Rasti skelbimai,Naujausi skelbimai,Naujausi skelbimai" }}
                            {% if search_done and rides|length > 0 %}
                            &nbsp;
                            <span class="badge">
                                {{ rides|length }}
                            </span>
                            {% endif %}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group" id="ride-list">
                            {% for ride in rides %}
                            <li class="list-group-item">
                                {{ ride.content }}
                                {% if ride.is_looking_for %}
                                    <span class="label label-warning" style="float: right;">
                                        Ieškau
                                    </span>
                                {% else %}
                                    <span class="label label-success" style="float: right;">
                                        Siūlau
                                    </span>
                                {% endif %}
                                <span class="ride-details">
                                    <br>
                                    {% if ride.phone %}
                                        <span class="glyphicon glyphicon-phone-alt">&nbsp;</span>
                                        {{ ride.phone }}
                                        <br>
                                    {% endif %}
                                    <span class="glyphicon glyphicon glyphicon-share-alt">&nbsp;</span>
                                    <a href="{{ ride.ad_url }}">
                                        {{ ride.ad_url }}
                                    </a>
                                </span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="pagination"></div>
            </div>
        </div>

        <footer>
            <div class="container">
                <hr>
                Here be footer.
            </div>
        </footer>

        <!-- jQuery -->
        <script src="//code.jquery.com/jquery.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <!-- Bootstrap pagination plugin -->
        <script type="text/javascript" src='{% static 'jquery-bootpag/lib/jquery.bootpag.js' %}'></script>

        <script type="text/javascript">
            // Change search field labels according to
            // selected ad type (looking for a ride or offering one)
            $(document).ready(function() {
                $('#is-looking-for-true').click(function() {
                    $('#label-from').text("Važiuoja iš:");
                    $('#label-to').text("Važiuoja į:");
                });
                $('#is-looking-for-false').click(function() {
                    $('#label-from').text("Važiuoju iš:");
                    $('#label-to').text("Važiuoju į:");
                });
            });

            // Set up pagination
            // Variables from server side
            var totalPages = {{ ride_pages }};
            var itemsPerPage = {{ rides_per_page }};

            function showPage(num) {
                // Pages are numbered from 1
                var pageIdx = num - 1;
                var showIdxStart = pageIdx * itemsPerPage;
                var showIdxEnd = (pageIdx + 1) * itemsPerPage - 1;
                $('#ride-list li.list-group-item').each(function(idx) {
                    if (idx >= showIdxStart && idx <= showIdxEnd) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            };

            // Enable 'jquery-bootpag' plugin
            $('#pagination').bootpag({
                total: {{ ride_pages }},
            }).on("page", function(event, num) {
                showPage(num);
            });

            // Display first page on page load
            showPage(1);
        </script>
    </body>
</html>