{% extends 'base.html' %}

{% block navbar-class-register %}
active
{% endblock %}

{% block content %}
<div class="col-sm-6">
    <form action="" method="POST" class="form-horizontal" role="form">
        {% csrf_token %}
        <legend>Registracija</legend>
        <hr>

        {% if form.subject.errors %}
        <ol>
            {% for error in form.subject.errors %}
            <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
        {% endif %}

        <div class="form-group">
            <label for="id_{{ form.username.name }}" 
                   class="col-sm-3 control-label">
                Vartotojo vardas:
            </label>
            <div class="col-sm-9">
                <input type="text" 
                       name="{{ form.username.name }}" 
                       id="id_{{ form.username.name }}" 
                       class="form-control" 
                       required="required"
                       value="{{ form.username.value|default_if_none:"" }}">
                {% for error in form.username.errors %}
                <span class="label label-danger">
                    {{ error }}
                </span>
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <label for="id_{{ form.email.name }}" 
                   class="col-sm-3 control-label">
                El. paštas:
            </label>
            <div class="col-sm-9">
                <input type="text" 
                       name="{{ form.email.name }}" 
                       id="id_{{ form.email.name }}" 
                       class="form-control" 
                       required="required"
                       value="{{ form.email.value|default_if_none:"" }}">
                {% for error in form.email.errors %}
                <span class="label label-danger">
                    {{ error }}
                </span>
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <label for="id_{{ form.password.name }}" 
                   class="col-sm-3 control-label">
                Slaptažodis:
            </label>
            <div class="col-sm-9">
                <input type="password" 
                       name="{{ form.password.name }}" 
                       id="id_{{ form.password.name }}" 
                       class="form-control" 
                       required="required" >
                {% for error in form.password.errors %}
                <span class="label label-danger">
                    {{ error }}
                </span>
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <label for="id_{{ form.password2.name }}" 
                   class="col-sm-3 control-label">
                Pakartokite slaptažodį:
            </label>
            <div class="col-sm-9">
                <input type="password" 
                       name="{{ form.password2.name }}" 
                       id="id_{{ form.password2.name }}" 
                       class="form-control" 
                       required="required" >
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-primary">Registruotis</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
